
# PostgreSQL settings
DB_NAME=osm_poi_db
DB_USER=osmuser
DB_PASSWORD=osmpassword
DB_HOST=127.0.0.1
DB_PORT=55432

POSTGRES_DB=${DB_NAME} # For Docker
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}


PG_QUEUE_HOST=${DB_HOST}
PG_QUEUE_PORT=${DB_PORT}
PG_QUEUE_USER=${DB_USER}
PG_QUEUE_PASSWORD=${DB_PASSWORD}
PG_QUEUE_DB=${DB_NAME}

# PartitionCache Configuration
CACHE_BACKEND="postgresql_bit" # or "redis", "postgresql_array", etc.

#PostgreSQL Cache specific (if CACHE_BACKEND="postgresql_array" or "postgresql_bit")
PG_BIT_CACHE_TABLE="osm_poi_cache_bit_table"
PG_BIT_CACHE_BITSIZE="100000" # Max number of distinct zip codes if using postgresql_bit


OSM_FILE = "germany-latest.osm.pbf"
OSM_URL = "https://download.geofabrik.de/europe/germany-latest.osm.pbf"